.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.auto.tfvars
*.pem
*.key
*.pub
*.json
sa-key.json
yc-key.json
authorized_key.json
.env
.idea/
.vscode/
Thumbs.db
Desktop.ini
*.bak
ansible/group_vars/all.yml
docs/screenshots/*Проверка nginx stub_status.png